.sidebar{
    width: 300px;
    --bs-link-hover-color : #000;
    --bs-link-color : #fff ;
    overflow: hidden;
    transition: all 0.5s;
    position: fixed;
    height: 100%;
}

.nav-link:hover{
    color: var(--bs-link-hover-color);
}

.navlink::after{
    position: absolute;
}

.hide {
    width: 100px;
    padding: 0 !important;
}
.hides{
    display: none;
}
.logo,content{
    transition: all 0.5s;
}
.logo-show {
    width: 100px;
}
.logo-hide{
    width: 40px;
}